<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                    <i>|</i>
                </li>
                <li>Check Out</li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="color:green">
                Your order is set successfully. <a asp-action="Orders" asp-controller="Customer">Click here to see your
                    order</a>
            </h1>
        </div>
    </div>
</div>
