@using Microsoft.AspNetCore.Http
@if (Context.Session.GetInt32("id") == null)
{
    <!-- header lists -->
    <ul>
        <li class="text-center border-right text-white">
            <a href="#" data-toggle="modal" data-target="#loginModal" class="text-white">
                <i class="fas fa-sign-in-alt mr-2"></i> Log In </a>
        </li>
        <li class="text-center text-white">
            <a href="#" data-toggle="modal" data-target="#registerModal" class="text-white">
                <i class="fas fa-sign-out-alt mr-2"></i>Register </a>
        </li>
    </ul>
    <!-- //header lists -->
}
else
{
    <!-- header lists -->
    <ul>
        <li class="text-center border-right text-white dropdown">
            <a type="button" style="cursor:pointer" class="dropdown-toggle text-white" data-toggle="dropdown">
                <i class="fas fa-sign-in-alt mr-2"></i> @Context.Session.GetString("name") </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-controller="Customer" asp-action="Index">Profile</a>
                <a class="dropdown-item" asp-controller="Customer" asp-action="Orders">Order</a>
            </div>
        </li>
        <li class="text-center text-white">
            <a asp-controller="Home" asp-action="Logout" class="text-white">
                <i class="fas fa-sign-out-alt mr-2"></i>Log out </a>
        </li>
    </ul>
    <!-- //header lists -->
}
