@{
    Layout = null;
    @* hiện tại chưa có session nên để biến boolean true *@
    var flag = true;
}
@if (flag)
{
    <!-- header lists -->
    <ul>
        <li class="text-center border-right text-white">
            <a href="#" data-toggle="modal" data-target="#loginModal" class="text-white">
                <i class="fas fa-sign-in-alt mr-2"></i> Log In </a>
        </li>
        <li class="text-center text-white">
            <a href="#" data-toggle="modal" data-target="#registerModal" class="text-white">
                <i class="fas fa-sign-out-alt mr-2"></i>Register </a>
        </li>
    </ul>
    <!-- //header lists -->
}
else
{
    <!-- header lists -->
    <ul>
        <li class="text-center border-right text-white">
            <a href="#" class="text-white">
                <i class="fas fa-sign-in-alt mr-2"></i> Chỗ này để user name </a>
        </li>
        <li class="text-center text-white">
            <a href="#" class="text-white">
                <i class="fas fa-sign-out-alt mr-2"></i>Log out </a>
        </li>
    </ul>
    <!-- //header lists -->
}
