@using AppCore.Models
@{
    var types = (ITEM_TYPE[])Enum.GetValues(typeof(ITEM_TYPE));
    var types_name = Html.GetEnumSelectList<ITEM_TYPE>().ToList();

}
<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="agileits-navi_search">
                <form action="#" method="post">
                    <select id="agileinfo-nav_search" asp-items="@Html.GetEnumSelectList<ITEM_TYPE>()"
                        name="agileinfo_search" class="border" required="">
                        <option selected="selected" value="">All Categories</option>

                    </select>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav text-center" style="margin-left: 10px">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" style="cursor:pointer" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Electronics
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Mobiles, Computers</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">

                                            @for (int i = 0; i < 8; i++)
                                            {
                                                <li>
                                                    <a asp-action="" asp-controller="Shop">@types_name[i].Text</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            @for (int i = 8; i < types.Count(); i++)
                                            {
                                                <li>
                                                    <a asp-action="" asp-controller="Shop">@types_name[i].Text</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>