@model CustomerModel
@{
    ViewData["Title"] = "Profile";
}
@using AppCore.Models
@using Microsoft.AspNetCore.Http
@{
    if (Context.Session.GetInt32("id") == null)
        Context.Response.Redirect(Url.Action("Index", "Home", null));
}
<br />
<div class="container-fluid container">
    <div class="row content">
        <div class="col-sm-3 ">
            <img src="../img/profile.png" height="250px" width="300px" />
            <h4>@Model.Customer.Name</h4>
            <span asp-validation-for="Customer.Name" class="text-danger"></span>
            <div class="sidenav">
                <ul class="nav nav-pills nav-stacked">
                    <li><a asp-action="Index">Profile</a></li>
                    <li class="active"><a asp-action="Orders">Orders</a></li>
                </ul><br>
            </div>

        </div>

        <div class="col-sm-9">
            <h4>Profile</h4>
            <br />
            <form method="POST" asp-controller="Customer" asp-action="Index">
                @* Write old data *@
                <input asp-for="Customer.Id" class="form-control" type="hidden">
                <input asp-for="Customer.Password" class="form-control" type="hidden">
                <input asp-for="Customer.ConfirmPassword" class="form-control" value="@Model.Customer.Password"
                    type="hidden">
                @* end write *@
                <div class="form-group">
                    <label class="col-form-label">Your Name</label>
                    <input asp-for="Customer.Name" class="form-control">
                    <span asp-validation-for="Customer.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Phone Number</label>
                    <input asp-for="Customer.PhoneNumber" class="form-control">
                    <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Address</label>
                    <input asp-for="Customer.Address" class="form-control">
                    <span asp-validation-for="Customer.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Gender</label>
                    <select class="form-control" asp-for="Customer.Sex"
                        asp-items="Html.GetEnumSelectList<SEX>()"></select>
                    <span asp-validation-for="Customer.Sex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="input-username">Email</label>
                    <input asp-for="Customer.Username" class="form-control" readonly>
                    <span asp-validation-for="Customer.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="input-username">Status</label>
                    <input asp-for="Customer.Status" class="form-control" readonly>
                    <span asp-validation-for="Customer.Status" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>