@model CustomerModel
@{
    ViewData["Title"] = "Profile";
}
<div class="container-fluid container">
    <div class="row content">
        <div class="col-sm-3 ">
            <img src="../img/profile.png" height="250px" width="300px" />
            <h4>@Model.Customer.Name</h4>
            <div class="sidenav">
                <ul class="nav nav-pills nav-stacked">
                    <li><a asp-action="Index">Profile</a></li>
                    <li class="active"><a asp-action="Orders">Orders</a></li>
                </ul><br>
            </div>

        </div>

        <div class="col-sm-9">
            <h4>Profile</h4>
            <br />
        </div>
    </div>

</div>